* {
    margin: 0px;
    padding: 0px;
    font-family: 'Readex Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

nav a {
    color:white;
    padding:15px;
    text-align:center;
    float:left;
    text-decoration:none;
    font-size: 12pt;
}
nav a:focus {
    color: #fff12f;
    background-color:#1b3469;
}
#home {
    background-image: url(Img/2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    opacity: 100%;
}
#home h1{
    position: absolute;
    color: #ffffff;
    font-size: 80px;
    top: 300px;
    left: 100px;
    float: right;
}
#home h5{
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    top: 420px;
    left: 105px;
}
#home h6{
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    top: 460px;
    left: 105px;
}
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 3px;
    background-color: #152468;
}
.progress-container {
    width: 100%;
    height: 3px;
    background: #152468;
}
.progress-bar {
    height: 3px;
    background: #eef12e;
    width: 0%;
}

#about_me {
    background-image: url(Img/4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    opacity: 100%;
    color:#ffffff;
}
.bar-container {
    width: 50%;
    height: 3%;
    background-color: #ddd; /* Grey background */
}
.skills {
    text-align: right;
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    width: 50%;
    height: 3%;
}
.html {width: 40%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

#my_projects {
    color:#ffffff;
    background-image: url(Img/5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    opacity: 100%;
}
.card {
    background-color: #0c204b;
    opacity: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 20%;
    height: 55%;
    float: left;
}
.card:hover {
    background-color: #15316e;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
    opacity: 100%;
}
.container {
    padding: 2px 16px;
}
img {
    border-radius: 5px 5px 0 0;
    height: 70%;
}

#contact_me {
    padding: 40pt;
    background-color: #03073e;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
}
  
 footer a {
    color:white;
    padding:15px;
    text-align:center;
    float:left;
    text-decoration:none;
    font: 14pt "Calibri";
  }
  
nav {
    background-color:#02153f;
    overflow: hidden;
}

nav #contact{
    float: right;
}

footer {
    background-color:#033e3e;
    overflow: hidden;
}

nav a:hover {
    background-color:#1e90ff;
}

footer a:hover {
    background-color:#008080;
};

/* #body {
    background-image: url("Img/2.jpg");
    height: 600px;
    width: 600px;
    background-size: 1000px;
    background-attachment: scroll;
    background-position: bottom;
} */

h1 {
    text-align:center;
    color:white;
    font: 50pt "Calibri";
}

header {
    padding: 40px;
    background-color: #008b8b91;
}



#txt {
    border-radius: 20px;
    height: 30px;
    width: 250px;
    border: 2px solid orangered;
}

#submit, #reset {
    border-radius: 20px;
    height: 40px;
    width: 100px;
    border: 2px solid orangered;
    color: white;
    font: 14pt "Calibri";
    margin: 20px;
    background-color: crimson;
}

h2 {
    font: 14pt "Calibri";
}
.fa-facebook{
    color: #255fdf;
}
.fa-instagram{
    color: #e46650;
}
.fa-youtube{
    color: #fc1919;
}
.fa-linkedin{
    color: #125cfc;
}
.fa-github{
    color: #2b2b2b;
}
.fa-facebook:hover{
    background-color: #255fdf;
    color:#ffffff;
}
.fa-instagram:hover{
    background-color: #e46650;
    color:#ffffff;
}
.fa-youtube:hover{
    background-color: #fc1919;
    color:#ffffff;
}
.fa-linkedin:hover{
    background-color: #125cfc;
    color:#ffffff;
}
.fa-github:hover{
    background-color: #2b2b2b;
    color:#ffffff;
}
.fa {
    padding: 10px;
    font-size: 25px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}