* {
    margin: 0px;
    padding: 0px;
    font-family: 'Readex Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

nav a {
    color:white;
    padding:15px;
    text-align:center;
    float:left;
    text-decoration:none;
    font-size: 12pt;
}
nav a:focus {
    color: #fff12f;
    background-color:#1b3469;
}
#home {
    background-image: url(Img/2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    opacity: 100%;
}
#home h1{
    position: absolute;
    color: #ffffff;
    font-size: 80px;
    top: 300px;
    left: 100px;
    float: right;
}
#home h5{
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    top: 420px;
    left: 105px;
}
#home h6{
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    top: 460px;
    left: 105px;
}

#about_me {
    background-image: url(Img/4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    opacity: 100%;
}

#my_projects {
    background-image: url(Img/5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    opacity: 100%;
}

#contact_me {
    padding: 40pt;
    background-color: #03073e;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
}
  
 footer a {
    color:white;
    padding:15px;
    text-align:center;
    float:left;
    text-decoration:none;
    font: 14pt "Calibri";
  }
  
nav {
    background-color:#02153f;
    overflow: hidden;
}

nav #contact{
    float: right;
}

footer {
    background-color:#033e3e;
    overflow: hidden;
}

nav a:hover {
    background-color:#1e90ff;
}

footer a:hover {
    background-color:#008080;
};

/* #body {
    background-image: url("Img/2.jpg");
    height: 600px;
    width: 600px;
    background-size: 1000px;
    background-attachment: scroll;
    background-position: bottom;
} */

h1 {
    text-align:center;
    color:white;
    font: 50pt "Calibri";
}

header {
    padding: 40px;
    background-color: #008b8b91;
}



#txt {
    border-radius: 20px;
    height: 30px;
    width: 250px;
    border: 2px solid orangered;
}

#submit, #reset {
    border-radius: 20px;
    height: 40px;
    width: 100px;
    border: 2px solid orangered;
    color: white;
    font: 14pt "Calibri";
    margin: 20px;
    background-color: crimson;
}

h2 {
    font: 14pt "Calibri";
}
.fa-facebook{
    color: #255fdf;
}
.fa-instagram{
    color: #e46650;
}
.fa-youtube{
    color: #fc1919;
}
.fa-linkedin{
    color: #125cfc;
}
.fa-github{
    color: #2b2b2b;
}
.fa-facebook:hover{
    background-color: #255fdf;
    color:#ffffff;
}
.fa-instagram:hover{
    background-color: #e46650;
    color:#ffffff;
}
.fa-youtube:hover{
    background-color: #fc1919;
    color:#ffffff;
}
.fa-linkedin:hover{
    background-color: #125cfc;
    color:#ffffff;
}
.fa-github:hover{
    background-color: #2b2b2b;
    color:#ffffff;
}
.fa {
    padding: 10px;
    font-size: 25px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}