* {
    margin: 0px;
    padding: 0px;
    font-family: 'Readex Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    color: white;
}
body {
    overflow: overlay;
}
h1 {
    color:rgb(113, 169, 252)
}
#return_top{
    position: fixed;
    z-index:99;
    right: 7%;
    top: 90%;
    width: 25px;
    height: 25px;
    text-decoration: none;
    border-radius: 50%;
    background-color:#0b5ac2;
    padding: 12px;
    visibility: hidden;
}
#about_me_btn{
    position: absolute;
    top: 98%;
    left: 45px;
    border: none;
    border-radius: 100px;
    background-color: #0b5ac2;
    height: 45px;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}
#about_me_btn:hover{
    border: 2px solid #0b5ac2;
    background-color: #001838;
}
#link_contact_me{
    position: absolute;
    text-decoration: none;
    top: 105%;
    left: 60px;
    color: #1267d6;
    font-weight: 900;
}
.glow{
    text-shadow: 0 0 50px rgb(1, 63, 233),
               0 0 50px rgb(0, 70, 201), 
               0 0 50px rgb(0, 70, 175);
    animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 0 0 20px rgb(12, 72, 236);
    }
    to {
        text-shadow: 0 0 30px rgb(51, 123, 255), 0 0 50px rgb(52, 133, 255);
    }
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
::-webkit-scrollbar {
    width: 5px;
}  
::-webkit-scrollbar-track {
    background-color: transparent;
}   
::-webkit-scrollbar-thumb {
    background-color: #353535;
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(245, 242, 83);
}
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 3px;
    background-color: #152468;
}
.progress-container {
    width: 100%;
    height: 3px;
    background: #152468;
}
.progress-bar {
    height: 3px;
    background: #eef12e;
    width: 0%;
}
.nav{
    overflow: hidden;
    text-align:center;
    list-style:none;
    background: rgb(3, 3, 53);
    width: 100%;
    height: auto;
    z-index:99;
}
.nav li{
    display:block;
    opacity: 100%;
}
.nav a{
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.nav a:hover {
    color:rgb(245, 242, 83);
}

#home {
    background-image: url(Img/h11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    width: 100%;
    height: 700px;
}
#home h1{
    color: white;
    position: absolute;
    font-size: 50px;
    top: 80%;
    left: 9%;
    float: left;
}
#home h5{
    position: absolute;
    font-size: 25px;
    top: 89%;
    left: 10%;
}
#home h6{
    position: absolute;
    font-size: 14px;
    top: 94%;
    left: 10%;
}

#about_me {
    background-color: #010024;
    height: 42rem;
}
#intro{
    margin-top: 3%;
    border-radius: 10px;
    width: 80%;
    padding: 2rem;
    font-size: 1rem;
    text-indent: 3rem;
}
/* #intro:before{
    content: '';
    position: absolute;
    border-radius: 10px;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: rgb(2, 0, 75);
    z-index: -1;
    filter: blur(40px);
}
#intro:after{
    content: '';
    position: absolute;
    border-radius: 10px;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
#intro:after{
    background: linear-gradient(235deg, #00235c, #00355e, #00245f);
    background: linear-gradient(90deg, rgba(0,67,172,240) 0%, rgba(4,118,208,240) 49%, rgba(10,179,237,240) 100%);
} */

#my_skills{
    height: 35rem;
    background-color: #01003d;
}
#skill_bars{
    background-color: #1d2650;
    border-radius: 10px;
    padding: 4%;
    width: 80%;
    left: 5%;
    margin-top: 8%;
    float: left;
}
.bar-container {
    font-size: 0.4rem;
    width: 100%;
    height: 0.2rem;
    border: 0px solid #b5fde5;
    border-radius: 10px;
    padding-bottom: 2%;
}
.skills {
    text-align: right;
    width: 100%;
    height: 0.8rem;
    border-radius: 10px;
    background: #02a2e2;
    background-size: 300% 100%;
    /* animation: progress-animation 2s linear infinite; */
}
.html {width: 80%;}
.css {width: 50%;}
.python {width: 85%;}
.cpp {width: 70%;}
.java {width: 60%;}
.js {width: 30%;}
.sql {width: 25%;}
/* @keyframes progress-animation {
    0%{background-position: 100%;}
    100%{background-position: 0;}
} */
.logo {
    display: none;
}
.spinner{
    display: none;
    position: absolute;
}

/* #box{
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    border-bottom: 5px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */

/* .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  } */
  
  /* Darker background on mouse-over */
  /* .btn:hover {
    background-color: RoyalBlue;
  } */

#my_projects {
    background-color: #01002e;
    height: 240rem;
    padding-left: 0.8%;
    padding-right: 0.8%;
    padding-top: 3%;
}
.card a{
    padding:12px;
    text-align:center;
    text-decoration:none;
    font-size: 2rem;
}
.card img{
    padding-bottom: 25px;
}
.card {
    background-color: #01002e;
    opacity: 80%;
    transition: 0.3s;
    border-radius: 5px;
    width: 75%;
    padding: 4%;
    margin: 2%;
    margin-top: 10%;
    float: none;
    font-size: 95%;
    height: 30rem;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #1c1a61;
    transform: scale(1.1);
    opacity: 100%;
}
.container {
    padding: 5%;
    height: 14rem;
}

#contact_me {
    background-color: #1b1b5f;
    height: 35rem;
    padding-top: 3%;
}
#contact{
    padding-left: 5%;
}
.input-box {
    padding-left: 1%;
    position: absolute;
    left: 30%;
    width: 60%;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #26267e;
}
.input-box:hover {
    border: 2px solid #1f7fbe;
}
.message{
    height: 130px;
}
.btn button {
    color: #ffffff;
    height: 40px;
    width: 80px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin: 20px; 
}
#submit {
    color: #33b400;
    border: 2px solid #33b400;
    background-color: #1b1b5f;
    width: 130px;
}
#reset {
    color: #df0000;
    border: 2px solid #df0000;
    background-color: #1b1b5f;
}
#submit:hover {
    background-color: #32af01;
    color: #ffffff;
}
#reset:hover {
    background-color: #df0000;
    color: #ffffff;
}

/* background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */

footer {
    background-color: #010038;
    height: 10rem;
    color:white;
}
footer a{
    padding:15px;
    text-align:center;
    text-decoration:none;
    font-size: 0.8rem;
}
.fa-facebook{
    color:#ffffff;
}
.fa-email{
    color:#ffffff;
}
.fa-instagram{
    color:#ffffff;
}
.fa-youtube{
    color:#ffffff;
}
.fa-linkedin{
    color:#ffffff;
}
.fa-github{
    color:#ffffff;
}
.fa-dev{
    color:#ffffff;
}
.fa-arrow-up{
    color:#ffffff;
}
.fa {
    font-size: 25px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    border-radius: 50%;
}
.ic{
    font-size: 25px;
    width: 23px;
    height: 20px;
}


/* Media Queries ==>> */

@media screen and (min-width: 600px){
    #return_top{
        left: 95%;
    }
    #about_me_btn{
        position: absolute;
        top: 500px;
        left: 100px;
    }
    #link_contact_me{
        top: 555px;
        left: 120px;
    }
    .nav{
        opacity: 80%;
        position: fixed;
        width: 100%;
        height: 50px;
    }
    .nav li{
        display:inline;
    }
    .nav a{
        display:inline-block;
    }

    #home h1{
        font-size: 80px;
        top: 300px;
        left: 100px;
    }
    #home h5{
        position: absolute;
        font-size: 30px;
        top: 420px;
        left: 105px;
        
    }
    #home h6{
        font-size: 20px;
        top: 460px;
        left: 105px;
    }

    #about_me{
        height: 40rem;
    }
    #intro{
        width: 40%;
        padding-top: 1rem;
        font-size: 1.1rem;
    }

    #my_skills{
        height: 45rem;
    }
    #skill_bars{
        float: right;
        position: inherit;
        width: 40%;
        margin-right: 220px;
        margin-top: 100px;
    }
    .bar-container{
        height: 1rem;
        font-size: 0.8rem;
        padding-bottom: 0%;
    }
    .skills{
        height: 1rem;
    }
    .logo {
        width: 150px;
        display:inherit;
    }
    .spinner{
        display: block;
        position: absolute;
        border: 5px solid #01003d;
        border-radius: 50%;
        border-top: 5px solid #3498db;
        border-bottom: 5px solid #3498db;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    @keyframes a-spin {
        0% { transform: rotate(360deg); }
        100% { transform: rotate(0deg); }
    }
    #sp1{
        left: 6.5%;
        top: 1700px;
        width: 200px;
        height: 200px;
        animation: spin 8s linear infinite;
    }
    #sp2{
        left: 5.2%;
        top: 1682px;
        width: 240px;
        height: 240px;
        animation: a-spin 8s linear infinite;
    }

    #my_projects {
        height: 80rem;
        padding-left: 5%;
        padding-right: 5%;
        width: auto;
    }
    .card a{
        padding:1rem;
        font-size: 1.8rem;
    }
    .card {
        width: 20%;
        float: left;
        padding: 2%;
        margin: 0.5%;
        font-size: 80%;
        height: 60%;
    }
    .container {
        padding: 2px;
        height: auto;
    }

    #contact_me {
        padding-top: 3%;
    }
    #contact{
        padding-left: 35%;
    }
    .input-box {
        left: 45%;
        width: 20%;
    }
}